
<h5>List des tableaux <i class="fa fa-plus-circle text-normal mouse_select" title="Ajouter un tableau" ng-click="Add()"></i></h5>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Titre</th>
            <th class="hidden-sm hidden-xs">Theme</th>
            <th class="hidden-sm hidden-xs">Slider</th>
            <th class="hidden-sm hidden-xs">Nom de fichier</th>
            <th></th>
            <th style="width:50px;"></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="paint in paints" ng-mouseenter="paint.display = true" ng-mouseleave="paint.display = false">
            <td>
                {{paint.Title}}
            </td>
            <td class="hidden-sm hidden-xs">
                {{paint.ThemeTitle}}
            </td>
            <td class="hidden-sm hidden-xs">
                <input type="checkbox" ng-model="paint.OnSlider" disabled />
            </td>
            <td class="hidden-sm hidden-xs">
                {{paint.Filename}}
            </td>
            <td>
                <img ng-src="images/tableaux/{{paint.Filename}}" class="img-responsive thumbnail" ng-show="paint.display" />
            </td>
            <td>
                <i class="fa fa-pencil-square-o text-danger mouse_select" ng-click="Edit(paint)"></i>
                <i class="fa fa-minus-circle text-danger mouse_select" ng-click="Delete(paint, $index)"></i>
            </td>
        </tr>
    </tbody>
</table>

<script type="text/ng-template" id="EditPainting">
    <h5>Ajout ou modification d'un tableau</h5>
    <form class="form-horizontal" name="paintingForm">
        <div class="form-group" ng-class="{'has-error': paintingForm.title.$invalid && (paintingForm.title.$touched || paintingForm.$submitted)}">
            <label class="col-sm-2 control-label">Titre</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="title" ng-model="paint.Title" required>
            </div>
        </div>
        <div class="form-group" ng-if="!isEdit" ng-class="{'has-error': paintingForm.file.$invalid && (paintingForm.file.$touched || paintingForm.$submitted)}">
            <label for="file" class="col-sm-2 control-label">Fichier</label>
            <div class="col-sm-10">
                <input class="form-control" type="file" id="file" name="file" fileread="paint.file" accept="image/*" required />
            </div>
        </div>
        <div class="form-group" ng-if="isEdit">
            <div class="col-xs-12">
                <div class="img-popup">
                    <img ng-src="images/tableaux/{{paint.Filename}}" />
                </div>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': paintingForm.theme.$invalid && (paintingForm.theme.$touched || paintingForm.$submitted)}">
            <label for="theme" class="col-sm-2 control-label">Theme</label>
            <div class="col-sm-10">
                <select class="form-control" name="theme" id="theme" ng-model="paint.currentTheme" required
                        ng-options="theme.Title for theme in themes"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Slider</label>
            <div class="col-sm-10">
                <input type="checkbox" class="form-control" name="slider" ng-model="paint.OnSlider">
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="col-sm-2 control-label">Description <a target="_blank" href="https://fr.wikipedia.org/wiki/Markdown">(syntaxe)</a></label>
            <div class="col-sm-10">
                <textarea class="form-control resize-v" ng-model="paint.Description" />
            </div>
            <label class="col-sm-2 control-label">Aperçu</label>
            <div class="col-sm-10" markdown="{{paint.Description}}">

            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" ng-click="Save(paint)">Enregistrer</button>
                <button type="submit" class="btn btn-default" ng-click="closeThisDialog()">Annuler</button>
            </div>
        </div>
    </form>
</script>