<div class="row">
    <div class="panel-group" role="tablist">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title mouse_select" ng-click="painting = !painting">
                    Tableaux
                </h4>
            </div>
            <div class="panel-body" ng-if="painting">
                <ng-include src="'views/admin-painting.html'"></ng-include>
            </div>
        </div>
    </div>
    <div class="panel-group" role="tablist">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title mouse_select" ng-click="theme = !theme">
                    Themes
                </h4>
            </div>
            <div class="panel-body" ng-if="theme">
                <ng-include src="'views/admin-theme.html'"></ng-include>
            </div>
        </div>
    </div>
    <div class="panel-group" role="tablist">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title mouse_select" ng-click="event = !event">
                    Expositions
                </h4>
            </div>
            <div class="panel-body" ng-if="event">
                <ng-include src="'views/admin-event.html'"></ng-include>
            </div>
        </div>
    </div>
    <div class="panel-group" role="tablist">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title mouse_select" ng-click="home = !home">
                    Message de la page d'accueil
                </h4>
            </div>
            <div class="panel-body" ng-if="home">
                <ng-include src="'views/admin-home.html'"></ng-include>
            </div>
        </div>
    </div>
    <div class="panel-group" role="tablist">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title mouse_select" ng-click="pass = !pass">
                    Changement du mot de passe admin
                </h4>
            </div>
            <div class="panel-body" ng-if="pass">
                <ng-include src="'views/admin-pass.html'"></ng-include>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="ConfirmDelete">
    <div class="container-fluid">
        <form class="form-horizontal" name="ConfirmForm">
            <div class="form-group">
                <h5>Voulez-vous vraiment supprimer cet élément ?</h5>
            </div>
            <div class="form-group">
                <div class="pull-right">
                    <button type="submit" class="btn btn-success" ng-click="confirm()">Oui</button>
                    <button type="submit" class="btn btn-danger" ng-click="closeThisDialog()">Non</button>
                </div>
            </div>
        </form>
    </div>
</script>