<slider/>

<div class="row">
    <div class="col-sm-12 col-md-7" markdown="{{homeArticle}}">
    </div>
    <div class="col-sm-12 col-md-5 sidebar">
        <div class="sidebox">
            <h5>
                Prochaines expositions
            </h5>
            <div class="panel panel-default" ng-repeat="nextEvent in nextEvents">
                <div class="panel-heading">
                    <span>{{nextEvent.Title}}</span>
                    <span class="pull-right">{{nextEvent.ExpirationDate| date:'dd/MM/yyyy'}}</span>
                </div>
                <div class="panel-body panel-default">
                    <div markdown="{{nextEvent.Description}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>