<ng-include src="'/views/breadcrumb.html'"></ng-include>
<div class="col-xs-12 col-md-3">
    <div class="panel panel-default" ng-if="theme.HasChildrenTheme">
        <div class="panel-heading">
            <h4>Sous themes</h4>
        </div>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="subtheme in subthemes">
                <a href="" ng-click="gotoTheme(subtheme)">{{subtheme.Title}}</a>
            </li>
        </ul>
    </div>
</div>
<div class="col-xs-12 col-md-9">
    <h5>{{theme.Title}}</h5>
    <div class="row" markdown="{{theme.Description}}">
    </div>
</div>
<div class="col-xs-12 col-md-12">
    <section class="module">
        <div>
            <div class="figure-block" ng-repeat="paint in paints">
                <figure>
                    <figcaption class="transition-050 opacity85">
                        <a href="" ng-click="gotoPaint(paint.Id)">
                            <strong class="transition-050 title">{{paint.Title}}</strong>
                        </a>
                        <span ng-if="paint.Description" class="text transition-050 desc" markdown="{{paint.Description}}"></span>
                    </figcaption>
                    <img ng-src="images/tableaux/{{paint.Filename}}" alt="{{paint.Title}}">
                </figure>
            </div>
        </div>
    </section>
</div>

