<ng-include src="'/views/breadcrumb.html'"></ng-include>
<div class="col-xs-12 col-md-3">
    <div class="panel panel-default" ng-if="theme.HasChildrenTheme">
        <div class="panel-heading">
            <h4>Sous themes</h4>
        </div>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="subtheme in subthemes">
                <a href="" ng-click="gotoTheme(subtheme)">{{subtheme.Title}}</a>
            </li>
        </ul>
    </div>
</div>
<div class="col-xs-12 col-md-9">
    <h5>{{theme.Title}}</h5>
    <div class="row" markdown="{{theme.Description}}">
    </div>
</div>

<div class="col-xs-12 col-md-12">
    <div class="thumbnail-list mouse_select" ng-repeat="paint in paints" ng-click="select($index)">
        <img ng-src="/images/tableaux/{{paint.Filename}}" />
    </div>
</div>

<div class="col-xs-12 col-md-12 paintView" ng-if="!theme.WithText && paints.length > 0">
    <div class="go-left mouse_select" ng-click="prev()">
        <i class="fa fa-chevron-left fa-2x">
        </i>
    </div>
    <div ng-repeat="paint in paints" ng-if="$index == index">
        <h4>
            <span>{{paint.Title}}</span>
            <i class="fa fa-pause pull-right mouse_select" ng-click="setPause()" ng-if="!pause"></i>
            <i class="fa fa-play pull-right mouse_select" ng-click="restart()" ng-if="pause"></i>
        </h4>
    </div>
    <div id="img-wrapper">
        <div ng-repeat="paint in paints" ng-if="$index == index" class="fade">
            <div>
                <img ng-src="/images/tableaux/{{paint.Filename}}" />
            </div>
        </div>
    </div>
    <div ng-repeat="paint in paints" ng-if="$index == index">
        <div class="col-xs-12" markdown="{{paint.Description}}">
        </div>
        <div class="col-xs-12 painting-available" ng-if="paint.Available">
            {{paint.Price}} €
        </div>
        <div class="col-xs-12 painting-unavailable" ng-if="!paint.Available">
            Indisponible
        </div>
    </div>
    <div class="go-right mouse_select" ng-click="next()">
        <i class="fa fa-chevron-right fa-2x">
        </i>
    </div>
</div>

<div class="col-xs-12 col-md-12 paintTextView" ng-if="theme.WithText && paints.length > 0">
    <div class="go-left mouse_select" ng-click="prev()">
        <i class="fa fa-chevron-left fa-2x">
        </i>
    </div>
    <div ng-repeat="paint in paints" ng-if="$index == index" id="paintContent">
        <h4>
            <span>{{paint.Title}}</span>
        </h4>
        <div class="col-md-6 col-xs-12">
            <img ng-src="/images/tableaux/{{paint.Filename}}" />
        </div>
        <div class="col-md-6 col-xs-12" markdown="{{paint.Description}}">
        </div>
        <div class="col-xs-12 painting-available" ng-if="paint.Available">
            {{paint.Price}} €
        </div>
        <div class="col-xs-12 painting-unavailable" ng-if="!paint.Available">
            Indisponible
        </div>
    </div>
    <div class="go-right mouse_select" ng-click="next()">
        <i class="fa fa-chevron-right fa-2x">
        </i>
    </div>
</div>
