<!DOCTYPE html>
<html ng-app="appPeinture">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Présentation de mes réalisations">
    <meta name="author" content="Elisabeth Dumortier">

    <title>Ma peinture</title>

    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="css/content.css" rel="stylesheet" type="text/css" />
    <link href="css/ngDialog.min.css" rel="stylesheet" type="text/css" />
    <link href="css/ngDialog-theme-default.min.css" rel="stylesheet" type="text/css" />

    <script src="scripts/jquery.min.js" type="text/javascript"> </script>
    <script src="scripts/bootstrap.min.js" type="text/javascript"> </script>
    <script src="scripts/angular.min.js" type="text/javascript"> </script>
    <script src="scripts/angular-route.min.js" type="text/javascript"> </script>
    <script src="scripts/ngDialog.min.js" type="text/javascript"> </script>
    <script src="scripts/showdown.min.js" type="text/javascript"> </script>
    <script src="scripts/angular-animate.min.js" type="text/javascript"> </script>

    <script src="app/app.js" type="text/javascript"> </script>
</head>
<body id="pageBody" ng-controller="MainController">
    <div id="decorative2">
        <div class="container">

            <div class="divPanel topArea notop nobottom">
                <div class="row-fluid">
                    <div class="span12">
                        <div id="divLogo" class="pull-left">
                            <div class="row">
                                <a id="divSiteTitle">Ma peinture</a>
                            </div>
                            <div class="row">
                                <a id="divTagLine">Elisabeth Dumortier Artiste peintre</a>
                            </div>
                        </div>
                        <div id="divMenuRight" class="pull-right">
                            <div class="navbar">
                                <button type="button" class="btn btn-navbar-highlight btn-large btn-primary" data-toggle="collapse" data-target=".nav-collapse">
                                    NAVIGATION <i class="fa fa-chevron-down"></i>
                                </button>
                                <div class="nav-collapse collapse" ng-controller="MenuController">
                                    <ul class="nav nav-pills ddmenu">
                                        <li class="dropdown" ng-class="{'active' : currentView == 'home'}" ng-mouseenter="display(false)">
                                            <a href="" ng-click="goto('home')">Accueil</a>
                                        </li>
                                        <li class="dropdown" ng-class="{'active' : currentView == 'painting'}" ng-click="display(true)">
                                            <a href="">Tableaux <b class="fa fa-chevron-down"></b></a>
                                            <ul class="dropdown-menu" ng-class="{'showMenu' : paintingMenu}" ng-if="paintingMenu" ng-mouseleave="display(false)">
                                                <li ng-repeat="firstLevelTheme in themeService.getFirstLevelThemes()">
                                                    <a href="" ng-click="gotoPainting(firstLevelTheme)">{{firstLevelTheme.Title}}</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown" ng-class="{'active' : currentView == 'contact'}" ng-mouseenter="display(false)">
                                            <a href="" ng-click="goto('contact')">Contact</a>
                                        </li>
                                        <li ng-if="!isConnected" class="dropdown" ng-class="{'active' : currentView == 'admin'}" ng-mouseenter="display(false)">
                                            <a href="" ng-click="goto('login')"><i class="fa fa-cog"></i></a>
                                        </li>
                                        <li ng-if="isConnected" class="dropdown" ng-class="{'active' : currentView == 'admin'}" ng-mouseenter="display(false)">
                                            <a href="" ng-click="goto('admin')"><i class="fa fa-cog"></i></a>
                                        </li>
                                        <li ng-if="isConnected">
                                            <a href="" ng-click="IdentityService.signOut()"><i class="fa fa-close"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="contentOuterSeparator"></div>

    <div class="container" ng-view>
    </div>

    <div id="footerOuterSeparator"></div>

    <div id="divFooter" class="footerArea">
        <div class="container">
            <div class="divPanel">
                <div class="row-fluid">
                    <div class="span3">
                        <h6>Informations</h6>
                        <p>Elisabeth DUMORTIER</p>
                        <p>
                            SIRET : 80215432800016
                        </p>
                        <p>
                            APE  : 90003A
                        </p>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <p class="copyright">
                            Copyright © 2013 Elisabeth DUMORTIER. All Rights Reserved.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>