.paintTextView {
    background-color: whitesmoke;
}

    .paintTextView #paintContent {
        margin-right: 35px;
        margin-left: 35px;
    }

    .paintTextView img {
        box-shadow: 0px 0px 5px #999;
    }

    .paintTextView h4 {
        text-align: center;
    }
